source_up
layout pipenv
export AWS_DEFAULT_PROFILE='chorusone'
export AWS_PROFILE='chorusone'
export GIT_AUTHOR_EMAIL='nimrod@chorus.one'
export KUBECONFIG="$HOME/Documents/ChorusOne/kubeconfig.yaml"
export VAULT_ADDR=https://vault.prod.chorus1.net:8200
. .envrc.private
