# shellcheck shell=bash disable=SC1091
source_up
export GIT_AUTHOR_EMAIL='nimrod@schoolinks.com'
export GIT_AUTHOR_NAME='Nimrod Adar'
export PIPENV_VENV_IN_PROJECT=1
[ ! -f .envrc.private ] || . .envrc.private
