export BW_CLIENTID='{{ run(["ph", "show", "--field", "OAuth client ID", "SchooLinks/Bitwarden"])["stdout"] }}'
export BW_CLIENTSECRET='{{ run(["ph", "show", "--field", "OAuth client secret", "SchooLinks/Bitwarden"])["stdout"] }}'
export BW_EMAIL='{{ run(["ph", "show", "--field", "UserName", "SchooLinks/Bitwarden"])["stdout"] }}'
export BW_PASSWORD='{{ run(["ph", "show", "--field", "Password", "SchooLinks/Bitwarden"])["stdout"] }}'
export CHROMATIC_PROJECT_TOKEN='{{ run(["ph", "show", "--field", "Token", "SchooLinks/Chromatic"])["stdout"] }}'
export CLOUDFLARE_API_KEY='{{ run(["ph", "show", "--field", "Global API key", "SchooLinks/Cloudflare"])["stdout"] }}'
export CLOUDFLARE_EMAIL='{{ run(["ph", "show", "--field", "UserName", "SchooLinks/Cloudflare"])["stdout"] }}'
export OPSGENIE_API_KEY='{{ run(["ph", "show", "--field", "API token", "SchooLinks/OpsGenie"])["stdout"] }}'
export SENTRY_AUTH_TOKEN='{{ run(["ph", "show", "--field", "Auth token", "SchooLinks/Sentry"])["stdout"] }}'
