# shellcheck shell=bash disable=SC1091
# vim: ft=sh
source_up
export AWS_DEFAULT_PROFILE=schoolinks
export AWS_PROFILE=schoolinks
export COMPOSE_FILE='docker-compose.local.yml'
export GIT_AUTHOR_EMAIL='nimrod@schoolinks.com'
export GIT_AUTHOR_NAME='Nimrod Adar'
export PIPENV_VENV_IN_PROJECT=1
[ ! -f .envrc.private ] || . .envrc.private
