[alias]
    amend = commit --amend
    bull = submodule update --remote
    clear = clean -fdx
    dif = diff --color-words
    empty-commit = commit --allow-empty
	exec = "!exec "
    ff = merge --no-edit --ff-only master
    merg = merge --no-edit
    posh = push --set-upstream origin HEAD
    pul = pull --progress
    pull-force = !git fetch && git reset --hard "$(git rev-parse --abbrev-ref --symbolic-full-name @{u})"
    push-force = push --force-with-lease
    root = rev-parse --show-toplevel
    serve-git = !git daemon --reuseaddr --verbose  --base-path=. --export-all ./.git
    serve-http = !git update-server-info && cd .git && python -m SimpleHTTPServer
    staash = stash --all
    stat = status --short --branch
    tag-version = !git tag -f "v$(cat VERSION)"
[color]
    grep = true
[core]
    excludesfile = /home/nimrod/.gitignore_global
[diff]
	tool = meld
[difftool]
	prompt = false
[fetch]
    fsckobjects = true
    prune = true
[merge]
    tool = meld
    ff = false
[push]
    followTags = true
	default = simple
[receive]
    fsckObjects = true
[tag]
    forceSignAnnotated = true
[transfer]
    fsckobjects = true
[user]
	name = Adar Nimrod
	email = nimrod@shore.co.il
	signingKey = E3AE9CD4B8EA564BF746CD909C53CFCB9AAA2526
