[submodule "Repositories/Shore/ssl-ca"]
	path = Repositories/Shore/ssl-ca
	url = https://git.shore.co.il/nimrod/ssl-ca.git/
	branch = master
[submodule "Repositories/Shore/ssh-ca"]
	path = Repositories/Shore/ssh-ca
	url = https://git.shore.co.il/nimrod/ssh-ca.git/
	branch = master
[submodule "Repositories/Shore/bundle_certs"]
	path = Repositories/Shore/bundle_certs
	url = https://git.shore.co.il/nimrod/bundle_certs.git/
	branch = master
