[user]
	name = Adar Nimrod
	email = nimrod@shore.co.il
	signingKey = 9AAA2526
[push]
	default = simple
[alias]
    clone-recursive = clone --recursive
    push-tags = push --tags
    pull-submodules = submodule update --remote
    diff-cached = diff --cached
    tag-version = !git tag -f "v$(cat VERSION)"
    serve = !git daemon --reuseaddr --verbose  --base-path=. --export-all ./.git
[transfer]
    fsckobjects = true
[fetch]
    fsckobjects = true
[receive]
    fsckObjects = true
[merge]
	tool = meld
[diff]
	tool = meld
[difftool]
	prompt = false
[core]
	excludesfile = /home/nimrod/.gitignore_global
