[user]
	name = Adar Nimrod
	email = nimrod@shore.co.il
[push]
	default = simple
[alias]
    clone-recursive = clone --recursive
    push-tags = push --follow-tags
    pull-submodules = submodule foreach git pull
    diff-cached = diff --cached
[transfer]
    fsckobjects = true
[fetch]
    fsckobjects = true
[receive]
    fsckObjects = true
[merge]
	tool = kompare
[diff]
	tool = kompare
[difftool]
	prompt = false
