$include  /etc/inputrc
set completion-ignore-case on
set show-all-if-ambiguous on
set visible-stats on
set skip-completed-text on
set colored-stats on
set colored-completion-prefix on
set blink-matching-paren on
set expand-tilde on
set history-preserve-point on
set mark-directories on
"\e[A": history-search-backward
"\e[B": history-search-forward
