# vi: ft=netrc
machine library.shore.co.il
    login {{ run(["ph", "show", "--field", "username", "shore.co.il/LDAP"])["stdout"] }}
    password {{ run(["ph", "show", "--field", "Password", "shore.co.il/LDAP"])["stdout"] }}
