ansible
awscli
awslogs
aws-sam-cli
aws-shell
bcrypt
boto
boto3
cryptography
dnspython
docker-compose
docker-py
Glances
gunicorn
httpbin
httpie
khal
khard
mycli
netaddr
parse
passlib
pgcli
pipenv
piprot
pre-commit
psycopg2
pur
pygments
pymongo
PyMySQL
pyopenssl
requests
sh
template
todoman
tox
