ansible
awscli
awslogs
aws-sam-cli
aws-shell
bcrypt
boto
boto3
docker-compose
Glances
gunicorn
httpbin
httpie
khal
khard
mycli
netaddr
parse
passlib
pgcli
pipenv
piprot
pre-commit
pur
pygments
sh
template
todoman
tox
