# vim: ft=cfg
[profile shore]
region = us-east-1

[profile schoolinks]
region = us-east-1
sso_session = schoolinks
sso_account_id = {{ run(["ph", "show", "--field", "Account ID", "SchooLinks/AWS SSO"])["stdout"] }}
sso_role_name = AdministratorAccess

[sso-session schoolinks]
sso_start_url = https://schoolinks-sso.awsapps.com/start
sso_region = us-east-1
sso_registration_scopes = sso:account:access
