[Desktop Entry]
Name[en_US]=Custom Command
Comment[en_US]=flatpak run org.gnome.Geary --hidden
Exec=flatpak run org.gnome.Geary --hidden
Icon=application-default-icon
X-GNOME-Autostart-enabled=true
Type=Application
