[Desktop Entry]
Name[en_US]=Nextcloud desktop client
Comment[en_US]=flatpak run com.nextcloud.desktopclient.nextcloud --background
Exec=flatpak run com.nextcloud.desktopclient.nextcloud --background
Icon=com.nextcloud.desktopclient.nextcloud
X-GNOME-Autostart-enabled=true
Type=Application
