source_up
export GIT_AUTHOR_NAME='Nimrod Adar'
export GIT_AUTHOR_EMAIL='nimrod@smile.io'
export AWS_DEFAULT_PROFILE=smile
export AWS_PROFILE=smile
export GEM_HOME="$HOME/Repositories/Smile/.gem"
export PATH="$GEM_HOME/bin:$PATH"
