ignore-scripts=true
init-author-name=Nimrod Adar
init-author-email=nimrod@shore.co.il
init-author-url=https://git.shore.co.il/explore
@fortawesome:registry=https://npm.fontawesome.com/
//npm.fontawesome.com/:_authToken={{ run(["ph", "show", "--field", "Password", "SchooLinks/Font Awesome auth token"])["stdout"] }}
@schoolinks:registry=https://npm.pkg.github.com
//npm.pkg.github.com/:_authToken={{ run(["ph", "show", "--field", "CLI 2025 token", "Web Sites/GitHub"])["stdout"] }}
