source_up
layout pipenv
export AWS_DEFAULT_PROFILE=endlessm
export AWS_PROFILE=endlessm
export VAULT_ADDR=https://vault.endlessm-sf.com:8200
export PACKET_AUTH_TOKEN="$PACKET_API_TOKEN"
export ANSIBLE_PRIVATE_KEY_FILE="$HOME/Documents/Endless/endless_ecdsa"
export REQUESTS_CA_BUNDLE=/etc/ssl/certs/ca-certificates.crt
export GIT_AUTHOR_EMAIL='nimrod@endlessos.org'
export DISCOURSE_API_USERNAME='Nimrod_Adar'
#export VAULT_TLS_SERVER_NAME=vault.endlessm-sf.com
#forward "$VAULT_TLS_SERVER_NAME" 8200:localhost:8200
export JJB_SECTION=endlessm
export LDAPCONF="$HOME/Documents/Endless/ldaprc"
export GNUPGHOME="$HOME/Documents/Endless/.gnupg"
export CLOUDSDK_ACTIVE_CONFIG_NAME='endless'
export GOOGLE_APPLICATION_CREDENTIALS="$HOME/Documents/Endless/gcloud.json"
. .envrc.private
